{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h2 class="welcome">Добро пожаловать, {{ user.username }}!</h2>
        <div class="buttons">
            <a href="{% url 'create_request' %}"><button>Создать заявку</button></a>
            <a href="{% url 'view_requests' %}"><button>Посмотреть все заявки</button></a>
            {% if user.is_superuser %}
            <a href="{% url 'create_category' %}"><button>Создать категорию</button></a>
            <a href="{% url 'view_categories' %}"><button>Посмотреть все категории</button></a>
        </div>
        {% endif %}
    {% else %}
        <h2>Добро пожаловать в DesignPro!</h2>
    {% endif %}
{% endblock %}
