{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="buttons">
            <div class="user-buttons">
            <h2 class="welcome">Добро пожаловать, {{ user.username }}!</h2>
            <a href="{% url 'create_request' %}"><button>Создать заявку</button></a>
            <a href="{% url 'view_requests' %}"><button>Посмотреть все заявки</button></a>
            </div>
            {% if user.is_superuser %}
            <a href="{% url 'create_category' %}"><button>Создать категорию</button></a>
            <a href="{% url 'view_categories' %}"><button>Посмотреть все категории</button></a>
        </div>
        {% endif %}
    {% endif %}

    <h2>Добро пожаловать в DesignPro</h2>

    <h3>Последние выполненные заявки</h3>
    <div class="recent-requests">
        {% for request in recent_completed_requests %}
            <div class="request-item">
                <p>Название: {{ request.title }}</p>
                <p>Категория: {{ request.category }}</p>
                <img src="{{ request.design_image.url }}" alt="Дизайн" class="design-image">
                <p>Дата добавления: {{ request.created_at }}</p>
            </div>
        {% empty %}
            <p>Нет выполненных заявок.</p>
        {% endfor %}
    </div>

    <h3>Количество заявок в статусе «Принято в работу»</h3>
    <p>{{ in_progress_count }}</p>

{% endblock %}